.page-nav {
  margin-bottom: 15px;
}

.page-header {
  background-color: initial;
}

#greeting h2 {
  margin-top: 10px;
}

#home-page a:hover,
#home-page a:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.btn-container {
  margin-bottom: 0;
}

#contacts {
  padding-top: 10px;
}

section.sofia-traffic {
  margin-top: 25px;
}

#footer-index {
  margin-top: 35px;
}

@media (max-width: 600px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-container .link-btn {
    max-width: fit-content;
  }
}

.loader {
  color: rgb(204, 64, 64);
  font-style: italic;
}