.btn-container {
  margin-bottom: 25px;
}

#contacts {
  margin-top: 40px;
}

#footer-index {
  margin-top: 35px;
}

@media (max-width: 600px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-container .link-btn {
    max-width: fit-content;
  }
}

.loader {
  color: rgb(204, 64, 64);
  font-style: italic;
}