/* @font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue.ttf);
} */

body {
    margin: 0;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(74, 105, 204);
    display: inline-block;
    margin: 5px;
}

a:hover,
a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h1 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

header {
    border-bottom: 2px solid green;
    text-align: center;
}

section {
    padding: 0 16px 0;
}

footer {
    border-top: 2px solid green;
    margin-top: 50px;
    text-align: center;
}

button {
    margin: 15px auto;
    ;
}

textarea {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    color: black;
}

#notices-container {
    text-align: center;
}

button {
    margin: 15px;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.clear-textarea {
    display: block;
    border: 2px solid black;
    margin: 0 auto 20px;
}

#logout-top-btn,
#logout-bottom-btn {
    border: 2px solid red;
    color: red;
}

#preview-btn {
    border: 2px solid green;
    background-color: green;
    color: white;
}

/* ################################################ */
#preview-section {
    text-align: center;
}

#notices-preview-section {
    margin: 0 auto 10px;
    width: 80%;
    padding: 2px;
}

#notices-preview-section h4 {
    margin: 0 0 8px 0;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #44765d;
}

#notices-preview-container {
    border: 4px double white;
    background-color: #44765d;
    /* background-color: rgba(68, 118, 93, 0.8); */
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#back-to-form-btn {
    border: 2px solid rgb(74, 105, 204);
    background-color: rgb(74, 105, 204);
    color: white;
}

#confirm-send-btn {
    border: 2px solid green;
    background-color: green;
    color: white;
}