body {
    margin: 0;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(74, 105, 204);
    display: inline-block;
    /* margin: 5px; */
}

a:hover,
a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

footer.footer-editform {
    border-top: none;
}

section {
    padding: 0 16px 0;

}

#articles-section {
    text-align: center;
}

#first-weekday-div {
    border: none;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

input[type='date'] {
    padding: 10px;
    border: 2px solid rgb(74, 105, 204);
    font-weight: bold;
    margin: 5px;
}

textarea {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
}

button {
    border-radius: 8px;
    padding: 5px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

#clear-all-btn,
.clear-currday-textarea {
    margin: 15px auto;
    display: block;
    border: 2px solid black;
}

#first-date-input {
    cursor: pointer;
}

#confirm-first-date-btn {
    border: 2px solid rgb(74, 105, 204);
    background-color: rgb(74, 105, 204);
    color: white;
    margin: 0;
}

#logout-top-btn,
#logout-bottom-btn {
    border: 2px solid red;
    color: red;
}

#preview-btn {
    border: 2px solid green;
    background-color: green;
    color: white;
}

/* ################################################ */
#preview-section {
    text-align: center;
}

.preview-card {
    margin-bottom: 10px;
}

.preview-card h4,
.preview-card p {
    margin: 0;
    padding: 0;
}

.preview-card h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.preview-card p {
    padding: 10px;
}

.preview-card span {
    display: block;
    margin: 3px;
}

#week-range-container {
    margin-bottom: 20px;
}

#back-to-form-btn {
    border: 2px solid rgb(74, 105, 204);
    background-color: rgb(74, 105, 204);
    color: white;
}

#confirm-send-btn {
    border: 2px solid green;
    background-color: green;
    color: white;
}

.template-section {
    border-top: 2px solid black;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 50px;
}

#template-text {
    background-color: aliceblue;
    display: block;
    width: 80%;
    height: 400px;
    margin: auto;
}