body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 60px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 8px;
}

nav ul {
  /* border: 2px dashed purple; */
  max-width: fit-content;
  margin: 0 auto;
}

nav li {
  padding: 4px;
}

article.home-page,
article.notifications-page,
article.schedule-page {
  border-radius: 4px;
  padding: 20px;
  /* margin-bottom: 40px; */
  margin: 0 auto 40px;
  width: fit-content;
}

article.home-page {
  border: 1px solid green;
}

article.notifications-page {
  border: 1px solid blue;
}

article.schedule-page {
  border: 1px solid red;
}

.divider {
  margin: 60px auto;
  max-width: 80%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer {
  margin-top: 70px;
}

footer div,
nav div {
  max-width: fit-content;
  margin: 0 auto;
}

a.footer,
a.top-nav,
a.bottom-nav {
  display: inline-block;
  padding: 10px;
}

a.bottom-nav {
  margin-top: 10px;
}