#links-page {
    padding-top: 15px;
}

#links-page a:hover,
#links-page a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#links-page article {
    margin-top: 15px;
}

#links-page h4 {
    margin-top: 12px;
}

#links-page li {
    margin: 10px;
}