#gallery-page {
    padding-top: 15px;
}

#gallery-page a:hover,
#gallery-page a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#gallery-page article {
    margin-top: 15px;
}