body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1.admin-heading {
  font-size: 23px;
  margin-top: 32px;
  margin-bottom: 0;
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

a:link,
a:visited {
  display: inline-block;
}

a:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

a.edit:link,
a.edit:visited {
  font-size: 90%;
  font-weight: bold;
  border: 2px solid green;
  color: green;
  border-radius: 8px;
  padding: 8px;
}

.link-btn:link,
.link-btn:visited {
  border-color: blue;
  color: blue;
}

.link-btn:active {
  background-color: blue;
  color: white;
}

@media (hover: hover) {
  .link-btn:hover {
    background-color: blue;
    color: white;
  }
}

button {
  /* margin: 15px auto; */
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

}


button,
.link-btn:link {
  font-family: inherit;
  font-size: 95%;
  font-weight: normal !important;
}

.btn-template {
  border: 2px solid black;
  margin: 0;
}

.btns-group.-top {
  margin-top: 20px;
}

footer.-template {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 15px;
}

hr.schedule {
  margin: 40px auto;
  width: 75%;

}

#clear-all-btn {
  background-color: rgb(136, 12, 136);
  border-color: rgb(136, 12, 136) !important;
  color: white;
}

.loader {
  color: rgb(204, 64, 64);
  margin-top: 10px;
  font-style: italic;
}

h2.admin {
  padding-top: 0;
  font-size: 1.2rem;
}

button.edit {
  font-weight: bold !important;
}

#logout-top-btn,
#logout-bottom-btn {
  border: 2px solid red;
  color: red;
  margin: 0;
}

#preview-btn {
  border: 2px solid green;
  background-color: green;
  color: white;
  margin: 0;
}

#back-to-form-btn {
  border: 2px solid rgb(74, 105, 204);
  background-color: rgb(74, 105, 204);
  color: white;
}

#preview-section {
  text-align: center;
  margin: 40px 0;
}

/* footer.footer-editform {
  border-top: 2px solid green;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 32px;
  margin-bottom: 50px;
} */

div.external-link {
  text-align: center;
  margin-top: 20px;
}

.footer-editform {
  margin-top: 32px;
}


.footer-preview {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 16px;
}


footer.page-footer {
  border: none;
  /* margin-top: 20px; */
  padding: 4px 25px 2px 25px;
}

footer.page-footer > a {
  padding: 0;
  margin: 0;
}

div.menu-logout-btns-group {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 16px;
}

div.logout {
  margin-top: 32px;
}

@media (max-width: 700px) {

  .menu-logout-btns-group {
    margin-top: 0 !important;
  }

  div.btns-group.-top,
  .footer-template,
  .footer-editform,
  .footer-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px !important;
    margin-bottom: 50px;
  }

  div.logout {
    margin-bottom: 50px;
  }

}