h1.admin-heading {
  font-size: 23px;
  padding-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.link-btn:link,
.link-btn:visited {
  padding: 4px;
  border-color: blue;
  color: blue;
}

.link-btn:hover,
.link-btn:active {
  background-color: blue;
  color: white;
}

button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

button,
.link-btn:link:link {
  font-family: inherit;
  font-size: 95%;
  font-weight: normal !important;
}

.btn-template {
  border: 2px solid black;
}

.btns-group {
  padding-bottom: 15px;
}

.btns-group.-top {
  margin-top: 0;
  padding-top: 15px;
}

.btns-group.-bottom {
  margin-top: 50px;
}

header.top-btns-group {
  text-align: center;
}

hr.schedule {
  margin: 40px auto;
  width: 75%;

}

#clear-all-btn {
  background-color: rgb(136, 12, 136);
  border-color: rgb(136, 12, 136) !important;
  color: white;
}

.template-section {
  margin-top: 32px;
  padding-top: 40px;
}

.template-section div {
  margin-top: 40px;
}

.loader {
  color: rgb(204, 64, 64);
  margin-top: 10px;
  font-style: italic;
}

h2.admin {
  padding-top: 0;
  font-size: 1.2rem;
}

button.edit {
  font-weight: bold !important;
}

footer.page-footer {
  border: none;
  /* margin-top: 20px; */
  padding: 4px 25px 0 25px;
}

footer.page-footer > a {
  padding: 0;
  margin: 0;
}